<div style="padding:  15px">
    <h1>Meus Blocos, Rio 2012</h1>
    <p><strong>Agora você pode stalkear aquela gatinha durante o carnaval!</strong></p>
    <p style="color:#666666;>Monte o seu roteiro do carnaval de rua do Rio de Janeiro e compartilhe com os seus amigos do Facebook.</p>
    <p style="color:#666666;">Resolvemos fazer essa aplicação pois não encontramos nenhuma outra que nos permitisse, de uma maneira fácil e intuitiva, saber aonde os nossos amigos (<s>e aquela gatinha</s>) vão.</p>

    <p>Aplicativo idealizado e concebido, em 42 horas, a 4 mãos por:</p>

    <p><img src="http://21212.com/files/2011/06/foto8-e1309284763997.jpg" alt="Arthur Granado" style="width:120px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;"/><span style="position: relative; top:-60px; left: 15px; font-weight: bold; font-style:italic;"><a href="http://21212.com/team/arthur-granado/" target="_blank">Arthur Granado</a></span></p>
    <p><img src="http://21212.com/files/2011/06/renato21212.jpg" alt="Renato Cesar" style="width:120px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;"/><span style="position: relative; top:-60px; left: 15px; font-weight: bold; font-style:italic;"><a href="http://twitter.com/_renatocesar" target="_blank">Renato Cesar</a></span></p>

    <p style="color:#666666;">Um agradecimento especial para Bruno Costa, João Gabriel, Leandro Angelo e a toda a galera da <a href="http://21212.com" target="_blank">21212.com</a></p>

</div>

