
<div class="wrapper">

  <h1>Meus Blocos 2012</h1>

   <div id="auth">

        <h2>Em quais blocos você vai?</h2>

        <h3>Crie e compartilhe com os seus amigos o seu roteiro da folia nesse carnaval de rua do Rio de Janeiro!</h3>

       <div id="facebook-connect">
            <%= link_to "Connect With Facebook", "/auth/facebook" %>
       </div>
   </div>

</div>

