<div data-role="content">
    <ul data-role="listview" data-theme="g" data-filter="true">
      <% @friends.each do |friend|  %>
        <li>
          <a href="/home/<%= friend[:uid] %>">
            <img src="<%= friend[:pic_small] %>" />
		    <h3 class="amigo"><%= friend[:name] %></h3>
          </a>
        </li>
        <li>
      <% end %>
    </ul>
</div><!-- /content -->
