<div data-role="page">

	<div data-role="header">
		<h1>Carnaval | Home</h1>
	</div><!-- /header -->

	<div data-role="content">
		<p>Hello world</p>
	</div><!-- /content -->

    <div data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="#">Sua Lista</a></li>
                <li><a href="#">Amigos</a></li>
                <li><a href="#">Mapa</a></li>
                <li><a href="#">Blocos</a></li>
            </ul>
        </div><!-- /navbar -->
    </div>
</div><!-- /page -->
